KWORK_USERNAME=username
KWORK_PASSWORD=password


POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database

REDIS_HOST=172.17.0.1
REDIS_PORT=6379
REDIS_PASSWORD=password

TELEGRAM_BOT_TOKEN=token

DEBUG=False

POLZA_API_KEY=token
POLZA_BASE_URL=url